################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/m151/.vs/m151/v16
/m151/obj
